.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--main-dark);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header .center {
  width: var(--body-content-width);
}
.header .right {
  padding: 0 40px;
}
