@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
body, input, textarea, button {
  font-size: 18px;
  font-family: 'Open Sans';
}

.App {
  height: 100%;
}
 
.Body {  
  display: flex;
  height: 100%;
}

.body-left-side {
  min-width: fit-content;
  max-width: 340px;
  width: 30%;
  display: grid;
  position: fixed;
  height: 100%;
}

.body-right-side {
  margin: 70px 0px 0px 340px;
}
.body-right-side-adaptive {
  margin: 70px 0px 0px 0px;
}
.content-wrapper {
  width: var(--body-content-width);
}