@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
body, input, textarea, button {
  font-size: 18px;
  font-family: 'Open Sans';
}

.App {
  height: 100%;
}
 
.Body {  
  display: flex;
  height: 100%;
}

.body-left-side {
  min-width: fit-content;
  max-width: 340px;
  display: grid;
  position: fixed;
  height: 100%;
  z-index: 2000;
}

.body-right-side {
  margin: 70px 0px 0px 340px;
}
.body-right-side-adaptive {
  margin: 70px 0px 0px 0px;
}
.content-wrapper {
  padding: 0px 20px 20px 20px;
  height: 100%;
}
.bordered-content {
  padding: 25px 40px;
  margin-bottom: 1rem;
  border-radius: 7px;
  border: 2px solid var(--third-dark);
}
.rounded {
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--third-dark);
  color: var(--third-dark);
  word-break: 'break-word';
}
.rounded:hover {
  border: 1px solid var(--secondary-blue);
  color: var(--secondary-blue);
}
.content {
  padding: 15px 5px;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.title-1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}
p {
  margin: 0;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.eye-icon {
  cursor: pointer;
  color: var(--main-dark);
  height: 35px;
  width: 35px;
}
.eye-slash-icon {
  cursor: pointer;
  color: var(--main-blue);
  height: 35px;
  width: 35px;
}

button:focus, .outlined:focus, *:focus {
  outline: 2px solid;
  outline-offset: 1px;
  outline-color: var(--third-blue);
} 
.page-header {
  height: 50px;
  align-items: center;
  align-content: center;
  display: flex;
  font-size: 26px;
  font-weight: bold;
  color: var(--secondary-dark);
  border-bottom: 2px solid #D6D6D6;
  margin-bottom: 15px;
}
.page-header h1 {
  font-size: 26px;
}